#root {
  margin: 0 auto;
  text-align: center;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.books-container{
  margin: 2% auto;
  width: 80vw;
  display: flex;
  gap: 20px;
  flex-wrap:  wrap;
  justify-content: start;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}

.layout{
  min-height: 100vh;
}

.books-title{
  white-space: pre-wrap;
  font-size: small;
  color: white;
}

.books-card{
  font-family: monospace;
  width: 270px;
  min-height: 350px;
  color: black;
  border-radius: 10px 10px 0 0;
  border: 2px solid black;
}

.ant-card-head{
  background: #084176 !important;
}

.book-date{ 
  font-family: cursive; 
  align-self: flex-start;
  font-size: x-small;
}

.book-isnb{
  font-family: cursive; 
  align-self: flex-start;
  font-size: xx-small;
  margin: 0;
  margin-bottom: 10px;
}

.book-rating{
  font-weight: 600;
  margin: 15px 0;
}

.book-authors{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.book-authors > p{
  padding: 0; 
  margin: 0;  
  font-weight:900;
  font-size: medium ;
}

.card-btn{
  width: 100%;
  justify-content: flex-end;
  margin-top: 10px;
}

.ant-card-body{
  padding: 0 25px;
  height: 50%; 
}

.group-section{
  justify-content: end;
  color: black;
}

.admin-panel{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}

.admin-panel > .buttons{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.buttons > .delete, 
.buttons > .editBtn{
  width: 150px;
}
.book-buttons{
  /* border: 1px solid black; */
}


.buttons > .delete,
.delete-btn{
  color: red;
  border: 1px solid red;
}

.book-form-button{
  display: flex;
  justify-content: start;
}

.change-authors-btn{
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
